<section class="effect block">
    <div class="wrapper">
        <h2 class="title">
            Мы понимаем людей, которые по своим<br>
            причинам не ходят к врачу
        </h2>
        <div class="mini-title">Поэтому разработали решение - <span class="blue">Rectin</span>:</div>
        <div class="bul-pack">
            <ul class="bullets">
                <li>
                    <p><span class="bold">Обезболивает анальный проход</span>
                        благодаря экстракту мимозы</p>
                    <div class="bul">
                        <img src="img/item-white.svg" alt="item">
                    </div>
                </li>
                <li>
                    <p><span class="bold">Ускоряет заживление трещин</span>
                        благодаря наличию алоэ вера в составе</p>
                        <div class="bul">
                            <img src="img/item-white.svg" alt="item">
                        </div>
                </li>
                <li>
                    <p><span class="bold">Снимает зуд и жжение в анальном проходе</span>
                        благодаря экстракту прутняка китайского</p>
                        <div class="bul">
                            <img src="img/item-white.svg" alt="item">
                        </div>
                </li>
                <li>
                    <div class="bul">
                        <img src="img/item-white.svg" alt="item">
                    </div>
                    <p><span class="bold">Регенерирует ткани в области
                            ануса </span>
                        благодаря экстракту эклипты</p>
                </li>
                <li>
                    <div class="bul">
                        <img src="img/item-white.svg" alt="item">
                    </div>
                    <p><span class="bold">Возвращает тонус и эластичность вен </span>
                        благодаря экстракту паслена черного</p>
                </li>
                <li>
                    <div class="bul">
                        <img src="img/item-white.svg" alt="item">
                    </div>
                    <p><span class="bold">Устраняет инфекции и гнойные процессы</span>
                        благодаря цинку и экстракту коричника камфорного
                    </p>
                </li>
            </ul>
            <div class="pack-c">
                <img src="img/product.png" alt="" class="product-c">
                <img src="img/product-colp.png" alt="" class="product-colp-c">
                <img src="img/natural.png" alt="" class="natural-c">
                <div class="back-c"></div>
            </div>
        </div>
        <div class="order">
            <h3 class="order-title">
                Избавьтесь<br>
                от геморроя
            </h3>
            <div class="form__sale__eff">
                <div class="form__sale__eff-procwrap">
                    <p class="form__sale__eff-proc">50%</p>
                </div>
                <div class="form__sale__eff-descwrap">
                    <p class="form__sale__eff-desc">Скидка</p>
                </div>
            </div>
            <div class="form__price__eff">
                <div class="form__price__eff-val">
                    <h5 class="form__price__eff-title-b">Старая цена</h5>
                    <p class="form__price__eff-before">
                        <span class="x_price_previous form__price__eff-before_line">1980</span><span
                            class="x_currency form__price__eff-before_size">руб</span>
                    </p>
                </div>
                <div class="form__price__eff-val">
                    <h5 class="form__price__eff-title-a">Новая цена</h5>
                    <p class="form__price__eff-after">
                        <span class="x_price_current">990</span><span
                            class="x_currency form__price__eff-after_size">руб</span><span
                            class="form__price__eff-after_size">*</span>
                    </p>
                </div>
            </div>
            <div class="end-sale">
                До конца акции<br>
                 осталось!
            </div>
            <div class="time__value">
                <div class="time__cont">
                    <span class="hours time__cont-val"></span>
                    <span class="hours time__cont-val"></span>
                </div>
                <span class="time__dot">:</span>
                <div class="time__cont">
                    <span class="minutes time__cont-val"></span>
                    <span class="minutes time__cont-val"></span>
                </div>
                <span class="time__dot">:</span>
                <div class="time__cont">
                    <span class="seconds time__cont-val"></span>
                    <span class="seconds time__cont-val"></span>
                </div>
            </div>
            <form action="/submit" method="post" class="x_order_form form__cont">
                <div class="form__input-wrap">
                    <label for="input-name" class="form__input-icon">
                        <img src="img/name.svg" alt="name">
                    </label>

                    <input id="input-name" type="text" name="name" required class="form__input"
                        placeholder="Ваше имя">
                </div>
                <div class="form__select">
                    <div class="x_country_select">
                        <select class="country-select" name="country_code">
                            <option value="RU">Россия</option>
                            <option value="BY">Беларусь</option>
                            <option value="UA" selected="selected">Украина</option>
                            <option value="KZ">Казахстан</option>
                            <option value="KG">Кыргызстан</option>
                            <option value="GE">Грузия</option>
                            <option value="MD">Молдова</option>
                            <option value="TH">Тайланд</option>
                        </select>
                    </div>
                    <div class="custom-select">
                        <div class="selected"></div>

                        <div class="options"></div>
                    </div>
                    <input type="tel" name="phone" required class="form__input form__input_select" placeholder="Ваш телефон">
                </div>

                <button class="btn form__btn ever-popup-btn">
                    Заказать<br> со скидкой
                </button>
            </form>
        </div>
    </div>
</section>