<section class="effect block">
    <div class="wrapper">
        <h2 class="title">
            Мы понимаем людей, которые по своим<br>
            причинам не ходят к врачу
        </h2>
        <div class="mini-title">Поэтому разработали решение - <span class="blue">Rectin:</span></div>
        <div class="bul_pack">
            <ul class="bullets">
                <li>
                    <p><span class="bold">Обезболивает анальный проход</span>
                        благодаря экстракту мимозы</p>
                    <img src="img/tick.png" alt="+">
                </li>
                <li>
                    <p><span class="bold">Ускоряет заживление трещин</span>
                        благодаря наличию алоэ вера в составе</p>
                    <img src="img/tick.png" alt="+">
                </li>
                <li>
                    <p><span class="bold">Снимает зуд и жжение в анальном проходе</span>
                        благодаря экстракту прутняка китайского</p>
                    <img src="img/tick.png" alt="+">
                </li>
                <li>
                    <img src="img/tick.png" alt="+">
                    <p><span class="bold">Регенерирует ткани в области
                            ануса </span>
                        благодаря экстракту эклипты</p>
                </li>
                <li>
                    <img src="img/tick.png" alt="+">
                    <p><span class="bold">Возвращает тонус и эластичность вен </span>
                        благодаря экстракту паслена черного</p>
                </li>
                <li>
                    <img src="img/tick.png" alt="+">
                    <p><span class="bold">Устраняет инфекции и гнойные процессы</span>
                        благодаря цинку и экстракту коричника камфорного
                    </p>
                </li>
            </ul>
            <div class="pack">
                <img src="img/product.png" alt="" class="product">
                <img src="img/product-colp.png" alt="" class="product-colp">
                <img src="img/natural.png" alt="" class="natural">
                <div class="back"></div>
            </div>
        </div>
        <div class="order">
            
        </div>
    </div>
</section>