<section class="effect block">
    <div class="wrapper">
        <h2 class="title">
            Мы понимаем людей, которые по своим<br>
            причинам не ходят к врачу
        </h2>
        <div class="mini-title">Поэтому разработали решение - <span class="blue">Rectin:</span></div>
        <div class="bul-pack">
            <ul class="bullets">
                <li>
                    <p><span class="bold">Обезболивает анальный проход</span>
                        благодаря экстракту мимозы</p>
                    <div class="bul">
                        <img src="img/item-white.svg" alt="item">
                    </div>
                </li>
                <li>
                    <p><span class="bold">Ускоряет заживление трещин</span>
                        благодаря наличию алоэ вера в составе</p>
                        <div class="bul">
                            <img src="img/item-white.svg" alt="item">
                        </div>
                </li>
                <li>
                    <p><span class="bold">Снимает зуд и жжение в анальном проходе</span>
                        благодаря экстракту прутняка китайского</p>
                        <div class="bul">
                            <img src="img/item-white.svg" alt="item">
                        </div>
                </li>
                <li>
                    <div class="bul">
                        <img src="img/item-white.svg" alt="item">
                    </div>
                    <p><span class="bold">Регенерирует ткани в области
                            ануса </span>
                        благодаря экстракту эклипты</p>
                </li>
                <li>
                    <div class="bul">
                        <img src="img/item-white.svg" alt="item">
                    </div>
                    <p><span class="bold">Возвращает тонус и эластичность вен </span>
                        благодаря экстракту паслена черного</p>
                </li>
                <li>
                    <div class="bul">
                        <img src="img/item-white.svg" alt="item">
                    </div>
                    <p><span class="bold">Устраняет инфекции и гнойные процессы</span>
                        благодаря цинку и экстракту коричника камфорного
                    </p>
                </li>
            </ul>
            <div class="pack-c">
                <img src="img/product.png" alt="" class="product-c">
                <img src="img/product-colp.png" alt="" class="product-colp-c">
                <img src="img/natural.png" alt="" class="natural-c">
                <div class="back-c"></div>
            </div>
        </div>
        <div class="order">
            <h3 class="order-title">
                Избавьтесь<br>
                от геморроя
            </h3>
            <div class="time__value">
                <div class="time__cont">
                    <span class="hours time__cont-val"></span>
                    <span class="hours time__cont-val"></span>
                </div>
                <span class="time__dot">:</span>
                <div class="time__cont">
                    <span class="minutes time__cont-val"></span>
                    <span class="minutes time__cont-val"></span>
                </div>
                <span class="time__dot">:</span>
                <div class="time__cont">
                    <span class="seconds time__cont-val"></span>
                    <span class="seconds time__cont-val"></span>
                </div>
            </div>
        </div>
    </div>
</section>