<header class="header block">
    <div class="header__top">
        <div class="wrapper">
            <div class="header__logo">
                <img src="img/logo.png" alt="logo">
            </div>
            <nav class="header__nav">
                <li class="header__nav-item">
                    <a href="" class="header__nav-link">
                        Клинически<br>
                        протестирован
                    </a>
                </li>
                <li class="header__nav-item">
                    <a href="" class="header__nav-link">
                        При любой стадии<br>
                        геморроя
                    </a>
                </li>
            </nav>
            <div class="time">
                <p class="time__title">
                    Купить<br>
                    со скидкой!
                </p>
                <div class="time__value">
                    <div class="time__cont">
                        <span class="hours time__cont-val"></span>
                        <span class="hours time__cont-val"></span>
                    </div>
                    <span class="time__dot">:</span>
                    <div class="time__cont">
                        <span class="minutes time__cont-val"></span>
                        <span class="minutes time__cont-val"></span>
                    </div>
                    <span class="time__dot">:</span>
                    <div class="time__cont">
                        <span class="seconds time__cont-val"></span>
                        <span class="seconds time__cont-val"></span>
                    </div>
                </div>
                <button class="btn">
                    Заказать
                </button>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="header__cont">
            <div class="header__man">
                <img src="img/header-man.png" alt="man">
            </div>
            <div class="header__description">
                <h1 class="header__title">
                    Избавьтесь
                    от геморроя
                </h1>
                <h3 class="header__subtitle">
                    в домашних условиях
                </h3>
                <ul class="header__list">
                    <li class="header__list-item">
                        <div class="header__list-bul">
                            <img src="img/item-white.svg" alt="item">
                        </div>
                        <span class="header__list-item_weight">Снимает воспаление и боль</span>
                        после&nbsp;2-х применений
                    </li>
                    <li class="header__list-item">
                        <div class="header__list-bul">
                            <img src="img/item-white.svg" alt="item">
                        </div>
                        <span class="header__list-item_weight">Устраняет трещины и отечность</span>
                        после 3-х применений
                    </li>
                    <li class="header__list-item">
                        <div class="header__list-bul">
                            <img src="img/item-white.svg" alt="item">
                        </div>
                        <span class="header__list-item_weight">Предотвращает возвращение
                            геморроя </span>после прохождения курса
                    </li>
                </ul>
                <div class="header__pack">
                    <p class="header__pack-desc">
                        Количество акционных<br>
                        товаров ограниченно:
                    </p>
                    <p class="header__pack-val lastpack">23</p>
                </div>
                <div class="product">
                    <img src="img/product.png" alt="product">
                    <div class="product__before">
                        <img src="img/product-colp.png" alt="prod">
                    </div>
                </div>
            </div>
            <div class="form">

            </div>
        </div>
    </div>
</header>