<section class="original block">
        <div class="wrapper">
            <h2 class="title">
                    Заказать оригинальный  <span class="blu">Rectin</span>
            </h2>
            <div class="subtitle">
                можно только на нашем сайте
            </div>
            <div class="order-steps">
                <div class="order first">
                    <div class="order-number">
                        1
                    </div>
                    <div class="order-img">
                        <img src="img/order1.png" alt="order">
                    </div>
                    <span class="order-title">Заполните форму <nobr>на сайте</nobr>
                            </span>
                    <p class="order-descr">Укажите только свое имя и номер телефона</p>
                </div>
                <div class="order second">
                        <div class="order-number">
                            2
                        </div>
                        <div class="order-img">
                            <img src="img/order2.png" alt="order">
                        </div>
                        <span class="order-title">Дождитесь звонка оператора
                                
                                </span>
                        <p class="order-descr">Он уточнит ваши адресные данные
                                и ответит <nobr>на все вопросы</nobr></p>
                    </div>
                    <div class="order third">
                            <div class="order-number">
                                3
                            </div>
                            <div class="order-img">
                                <img src="img/product.png" alt="order" width="105" class="p">
                                <img src="img/product-pack.png" alt="order" width="170" class="pp">
                            </div>
                            <span class="order-title">Получите посылку <nobr>на почте</nobr>
                                    
                                    </span>
                            <p class="order-descr">Без предоплаты!</p>
                        </div>
            </div>
           <div class="consult">
               <img src="img/info.jpg" alt="">
               <p class="consult-descr">При возникновении вопросов вы всегда можете с нами связаться
                    и получить подробную <span class="underlined">бесплатную консультацию</span> о продукте
                    и способе его применения.
                    </p>
               <button class="btn">Получить консультацию</button>
           </div>
        </div>
    </section>