<section class="helps_for block">
    <div class="wrapper">
        <h2 class="title">
            <span class="blu">Rectin</span> устраняет все формы<br>
            геморроя
        </h2>
        <div class="help-blocks">
            <div class="help-block first">
                <div class="type">Внутренний геморрой</div>
                <div class="help-img"><img src="img/inside.jpg" alt="inside"></div>
                <div class="t-title">Симптомы:
                </div>
                <ul class="descr">
                    <li>Кровотечение во время<br>
                        дефекации или нагрузок
                    </li>
                    <li>Узлы возникают внутри<br>
                        анального канала
                    </li>
                    <li>Узлы покрыты слизистой
                    </li>
                    <li>В зависимости от стадии размер
                        узлов увеличивается и они<br>
                        могут выпадать
                    </li>
                    <li>Вызывают отек и сильную боль
                    </li>
                </ul>
            </div>
            <div class="help-block second">
                <div class="type">Внешний геморрой</div>
                <div class="help-img"><img src="img/outside.jpg" alt="outside"></div>
                <div class="t-title">Симптомы:
                </div>
                <ul class="descr">
                    <li>Кровотечений обычно<br>
                        не возникает</li>
                    <li>Узлы возникают возле анального
                        отверстия (не путать с выпавшими
                        узлами!) </li>
                    <li>Узлы покрыты кожей</li>
                    <li>Размер узлов - 3мм и более </li>
                    <li>Вызывают дискомфорт и боль
                    </li>
                </ul>
            </div>
            <div class="help-block third">
                <div class="type">Комбинированный</div>
                <div class="help-img"><img src="img/combine.jpg" alt="combine"></div>
                <div class="t-title">Симптомы:
                </div>
                <div class="t-subtitle">Сочетает признаки внутренней
                    и внешней форм:
                </div>
                <ul class="descr">
                    <li>Кровотечения</li>
                    <li>Наружные и внутренние узлы</li>
                    <li>Дискомфорт</li>
                    <li>Отек
                    </li>
                    <li>Боль
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>