$roboto: 'Roboto', sans-serif;

.helps_for
    padding: 115px 10px 
    background-image: url(../img/vector-bg.png)
    background-color: #eaedf2
    .wrapper
        .title
            text-align: center
            margin: 0 0 46px 0
            .blue 
                color: #1c266b
        .help-blocks
            display: flex
            justify-content: space-between
            .help-block
                background-color: #fff
                width: 370px
                border-top-right-radius: 40px
                border-bottom-left-radius: 40px
                &.first
                    margin-top: 61px
                &.third
                    margin-top: 61px
                .type
                    color: #fff
                    font-family: $roboto
                    font-size: 22px
                    font-weight: 700
                    background-color: #3b4893
                    padding: 20px 0
                    border-top-right-radius: 40px
                    text-align: center
                .help-img 
                    border: 1px solid #ebebeb
                    border-radius: 5px
                    margin: 25px 25px 32px 25px
                    padding: 0 0 10px 0
                    text-align: center
                .descr
                    li 
                        position: relative
                        padding: 0 0 0 36px
                        &::before
                            content: ''
                            position: absolute
                            top: 0
                            left: 0
                            width: 20px
                            height: 15px
                            background: url(../img/check-orange.svg)
                            background-size: 20px 15px 


