<section class="usage block">
    <div class="wrapper">
        <h2 class="title">
            Применять <span class="blue">Rectin</span> удобно даже<br>
            в домашних условиях:
        </h2>
        <div class="arrow-grey">
            <img src="img/arrow-grey.png" alt="arrow">
        </div>
        <ul class="how-to-use-list">
            <li>
                <span class="number">1</span>
                <p class="descr">
                    <span class="bold">Перед нанесением
                        <span class="blue">Rectin</span><br>
                    </span>
                    хорошо промойте поверхность<br>
                    мягким мылом с водой и высушите
                </p>
            </li>
            <li>
                <span class="number">2</span>
                <p class="descr">
                        <span class="bold">
                                Наденьте на трубку насадку  <br>
                        </span>
                        и аккуратно нанесите крем в область<br>
                        анального прохода
                    </p>
            </li>
            <li>
                <span class="number">3</span>
                <p class="descr">
                        <span class="bold">
                                Повторяйте процедуру утром и вечером, <br>     
                        </span>
                        а также после каждого акта дефекации<br>
                        по необходимости.
                    </p>
            </li>
        </ul>
        <div class="usage-pack">
            <img src="img/product-colp.png" alt="" class="usage-pack-product-colp">
            <img src="img/product.png" alt="" class="usage-pack-product">
            <img src="img/product-pack.png" alt="" class="usage-pack-product-pack">
            <img src="img/flower.png" alt="" class="usage-pack-flower">
        </div>
        <button class="btn">
                Начать курс Rectin
            </button>
</section>