<section class="statistics block">
    <div class="wrapper">
        <h2 class="title">
            <span class="stat-lined">86% людей</span> с проблемой геморроя <br>
            <span class="stat-lined"><nobr>не обращаются</nobr> к проктологу</span>
        </h2>
        <div class="subtitle">несмотря на ужасные последствия, опасные для жизни</div>

        <div class="list-title">Они знают, что их ждет:</div>
        <ul class="stat-list">
            <li>
                <img src="img/stat1.png" alt="1" width="150" height="110">
                <div class="descr">Долгое ожидание приема<br>
                    и унизительный осмотр<br>
                    у врача</div>
            </li>
            <li>
                <img src="img/stat2.png" alt="2" width="150" height="110">
                <div class="descr">Препараты, которые не всегда <br>
                    работают и к которым приходится <br>
                    возвращаться</div>
            </li>
            <li>
                <img src="img/stat3.png" alt="3" width="150" height="110">
                <div class="descr">Болезненные и длительные<br>
                        процедуры</div>
            </li>
        </ul>

        <div class="subtitle">С геморроем к врачу обращаются, когда уже слишком поздно.</div>
    </div>
</section>