<section class="shock">
    <div class="wrapper">
        <h2 class="title">
            Запущенный геморрой приводит
            к смертельным осложнениям и тяжелым
            операциям
        </h2>

        <div class="shock-arrow__wrap">
            <div class="shock__wrap swiper-container">
                <div class="shock__slider swiper-wrapper">

                    <div class="shock__slide swiper-slide">
                        <div class="shock__slide-icon">
                            <img src="img/shock-icon.png" alt="icon">
                        </div>
                        <div class="shock__slide-btn">
                            Шок-контент
                        </div>
                        <p class="shock__slide-description">
                            Тромбированный наружный геморроидальный узел,
                            показанно хирургическое вмешательство.
                        </p>
                        <p class="shock__slide-footer">
                            Стаж геммороя - от 4 лет
                        </p>
                    </div>

                    <div class="shock__slide shock__slide_two swiper-slide">
                        <div class="shock__slide-icon">
                            <img src="img/shock-icon.png" alt="icon">
                        </div>
                        <div class="shock__slide-btn">
                            Шок-контент
                        </div>
                        <p class="shock__slide-description">
                            Парапроктит - воспаление клетчатки прямой кишки - частое осложнение геморроя. Лечение парапроктита
                            всегда только хирургическое.
                        </p>
                        <p class="shock__slide-footer">
                            Стаж геммороя - от 7 лет
                        </p>
                    </div>

                    <div class="shock__slide shock__slide_three swiper-slide">
                        <div class="shock__slide-icon">
                            <img src="img/shock-icon.png" alt="icon">
                        </div>
                        <div class="shock__slide-btn">
                            Шок-контент
                        </div>
                        <p class="shock__slide-description">
                            Подготовка пациента к геммороидэктомии
                            по Миллигану-Моргану
                        </p>
                        <p class="shock__slide-footer">
                            Стаж геммороя - от 2 лет
                        </p>
                    </div>

                </div>

                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                    <span class="swiper-pagination-bullet"></span>
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                    <span class="swiper-pagination-bullet"></span>
                    <span class="swiper-pagination-bullet"></span>
                    <span class="swiper-pagination-bullet"></span>
                </div>

            </div>
            <div class="swiper-button-prev statistics__swiper-button-prev addBlur"></div>
            <div class="swiper-button-next statistics__swiper-button-next addBlur"></div>
        </div>
    </div>

</section>