<section class="reviews block">
    <div class="wrapper">
        <h2 class="title">
            Отзывы людей после применения <span class="blu">Rectin</span>
        </h2>
        <div class="subtitle">
            Уже воспользовались <span class="blue">Rectin</span>?<br>
            Помогите другим почувствовать его эффективность.
        </div>
        <div class="reviews-wrapper">
            <div class="review">
                <div class="review-img">
                    <img src="img/review1.jpg" alt=""></div>
                <div class="full-name">
                    <div class="name">Дина</div>
                    <div class="age">45 лет, Хельсинки</div>
                </div>
                <div class="comment">Отличный продукт! Прошло всего 2 недели применения, а я уже чувствую себя намного
                    лучше. </div>
            </div>
            <div class="review">
                <div class="review-img">
                    <img src="img/review2.jpg" alt=""></div>
                <div class="full-name">
                    <div class="name">Ненси Т.</div>
                    <div class="age">
                        53 года, Стокгольм </div>
                </div>
                <div class="comment">Достойный препарат, удобно применять и не надо вставлять никакие свечи. Точно могу
                    сказать, что Rectin просто находка.
                </div>
            </div>
            <div class="review">
                <div class="review-img">
                    <img src="img/review3.jpg" alt=""></div>
                <div class="full-name">
                    <div class="name">Рикардо Л.</div>
                    <div class="age">
                        55 лет, Мадрид </div>
                </div>
                <div class="comment">За последний год перепробовал<br>
                    уже 4 бренда, остановился<br>
                    на Rectin. Результат после месяца порадовал.
                </div>
            </div>
        </div>
        <div class="leave-review">
            <form action="" class="leave-review-form">
                <input type="text" placeholder="Добавить отзыв">
                <button class="btn">Отправить</button>
            </form>
        </div>
    </div>
</section>