<section class="specialist block">
    <div class="wrapper first">
        <div class="advan">
            <img src="img/advan1.png" alt="">
            <p>100%<br>
                натуральный</p>
        </div>
        <div class="advan">
            <img src="img/advan2.png" alt="">
            <p>не вызывает<br>
                аллергический<br>
                реакций</p>
        </div>
        <div class="advan">
            <img src="img/advan3.png" alt="">
            <p>клинически<br>
                протестирован</p>
        </div>
    </div>
    <div class="wrapper second">
        <h2 class="title">
            Почему специалисты доверяют <span class="blu">Rectin</span>
        </h2>
        <div class="bg-rect"><img src="img/rect-bg.png" alt=""></div>
        <div class="multiple-items">
            <div>
                <div class="doc">
                    <img src="img/doc1.jpg" alt="">
                    <div class="full-name">
                        <div class="name">Джим Ривера
                        </div>
                        <div class="prof">эксперт анатомической<br>
                            отрасли</div>
                    </div>
                </div>
                <div class="opinion">Как ярый приверженец новшеств в изучении анатомии, на конференции
                    в Барселоне заприметил препарат Rectin. На сегодняшний день
                    я не встречал более эффективного подбора действующих компонентов.
                </div>
            </div>
            <div>
                <div class="doc">
                    <img src="img/doc2.jpg" alt="">
                    <div class="full-name">
                        <div class="name">Ханна Фернандос
                        </div>
                        <div class="prof">специалист в области акушерства
                            и гинекологии</div>
                    </div>
                </div>
                <div class="opinion">Беременные девушки, к несчастью — также часто заложницы геморроя.
                    В такой деликатной проблеме натуральное средство Rectin — просто находка для здоровья мамы
                    и гарантия безопасности ее будущего малыша.
                    Да и наносить его дома легко.

                </div>
            </div>
            <div>
                <div class="doc">
                    <img src="img/doc3.jpg" alt="">
                    <div class="full-name">
                        <div class="name">Кристина Луар
                        </div>
                        <div class="prof">консультант по здоровому<br>
                            образу жизни</div>
                    </div>
                </div>
                <div class="opinion">Основное в лечении геморроя — лечить проблему изнутри. Если не хотите,
                    чтоб у вас вся жизнь в прямом и переносном смысле кровоточила — правильно питайтесь, следите
                    за гигиеной и пройдите весь курс Rectin. Забудете о проблеме навсегда!
                </div>
            </div>
            <div>
                <div class="doc">
                    <img src="img/doc1.jpg" alt="">
                    <div class="full-name">
                        <div class="name">Джим Ривера
                        </div>
                        <div class="prof">эксперт анатомической
                            отрасли</div>
                    </div>
                </div>
                <div class="opinion">Как ярый приверженец новшеств в изучении анатомии, на конференции
                    в Барселоне заприметил препарат Rectin. На сегодняшний день
                    я не встречал более эффективного подбора действующих компонентов.
                </div>
            </div>
            <div>
                <div class="doc">
                    <img src="img/doc2.jpg" alt="">
                    <div class="full-name">
                        <div class="name">Ханна Фернандос
                        </div>
                        <div class="prof">специалист в области акушерства
                            и гинекологии</div>
                    </div>
                </div>
                <div class="opinion">Беременные девушки, к несчастью — также часто заложницы геморроя.
                    В такой деликатной проблеме натуральное средство Rectin — просто находка для здоровья мамы
                    и гарантия безопасности ее будущего малыша.
                    Да и наносить его дома легко.

                </div>
            </div>
            <div>
                <div class="doc">
                    <img src="img/doc3.jpg" alt="">
                    <div class="full-name">
                        <div class="name">Кристина Луар
                        </div>
                        <div class="prof">консультант по здоровому
                            образу жизни</div>
                    </div>
                </div>
                <div class="opinion">Основное в лечении геморроя — лечить проблему изнутри. Если не хотите,
                    чтоб у вас вся жизнь в прямом и переносном смысле кровоточила — правильно питайтесь, следите
                    за гигиеной и пройдите весь курс Rectin. Забудете о проблеме навсегда!
                </div>
            </div>
        </div>
        <button class="btn">
                Начать курс Rectin
            </button>
    </div>
</section>